body{
    background-color: #222;
    color: #fff;
}
.wsm{
text-align: center;
align-items: center;
font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: 5px black solid;
border-radius: 50px;
background-color: rgb(18, 212, 11);
padding: 20px 0;
}
.wsm a{
    color: rgb(189, 120, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 6px;
    transition: 0.25s;
    background-color: yellow;
    margin: 0 5px;
    border-radius: 10px;
    padding: 2px 5px;
}
.wsm a:hover{
    color: yellow;
    background-color: unset;
}
h2{
    color: rgb(0, 0, 0);
    background-color: #fff;
}
