body {
    background: #111;
    color: #fff;
    font-family: "Cairo", sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    margin-top: 40px;
    padding: 20px;
}

#question {
    font-size: 32px;
    margin-bottom: 20px;
}

#options {
    list-style: none;
    padding: 0;
}

.option {
    background: #222;
    border: 2px solid #555;
    margin: 15px auto;
    padding: 18px;
    width: 60%;
    cursor: pointer;
    font-size: 26px;
    border-radius: 10px;
    transition: 0.2s;
}

.option:hover {
    transform: scale(1.03);
    background: #333;
}

#score {
    margin-top: 25px;
    font-size: 25px;
    color: #0f0;
}

a {
    display: block;
    margin-top: 40px;
    color: #0f0;
    font-size: 22px;
    text-decoration: none;
}

.flash {
    position: fixed;
    inset: 0;
    background: transparent;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 9999;
}

.flash.show {
    opacity: 1;
}
